.container {
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 28px 21px;
  align-items: center;
  flex-direction: column;
}
.container h1 {
  color: gray;
  padding: 0;
  margin: 0;
}

form > label{
  padding-top: 2px;

}