.dogCard {
  display: flex;
  flex-direction: row;
  border: 1px dashed green;
  min-height: 36px;
}
.dogCardImg {
  min-width: 15%;
  align-items: center;
  
  border: 1px dashed pink;
}
.dogCardContent {
  flex-grow: 3;
  border: 1px dashed blue;
}
.dogCardButtons {
  justify-self: end;
  border: 1px dashed yellow;
}