input {
  margin-left: 16px;
  padding: 4px 8px;
  font-size: 16px;
  width: 300px;
}

input[type="file"] {
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
  padding-top: 80px;
}

.HERO { 
  justify-content: center;
  width: 100%;
  height: 20vw;
  overflow: hidden;
  border-bottom: 5px solid rgb(0, 0, 0);
}

.HERO > img {
  place-self: stretch stretch;
  min-width: 100%;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 0;
  margin-top: -7.5vw;
}

.message {
  margin-top: 0;
  height: 20px;
  color: #dd1b16;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2vw;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  background: transparent;
  border: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.buttonContainerLogin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: last baseline;
  align-content: center;
  vertical-align: baseline;
}
.button {
  margin-left: 16px;
  align-self: center;
  min-width: 120px;
}

.form > label:last-of-type {
  margin-bottom: 16px;
}