.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "HERO HERO HERO HERO"
    "HERO HERO HERO HERO"
    ". ABOUT ABOUT ."
    ". ABOUT ABOUT ."
    "P1 P2 P3 P4"
    "D1 D2 D3 D4";
}

.HERO { 
  grid-area: HERO; 
  justify-self: center;
  align-self: center;
  font-size: 3vw;
}

.ABOUT { 
  grid-area: ABOUT; 
  text-align: center;
  align-items: center;
  margin-bottom: 10vw;
}

.P1 { 
  grid-area: P1; 
  justify-self: center;
}

.P2 { 
  grid-area: P2; 
  justify-self: center;
}

.P3 { 
  grid-area: P3; 
  justify-self: center;
}

.P4 { 
  grid-area: P4; 
  justify-self: center;
}

.D1 { 
  grid-area: D1; 
  justify-self: center;
}

.D2 { 
  grid-area: D2; 
  justify-self: center;
}

.D3 { 
  grid-area: D3; 
  justify-self: center;
}

.D4 { 
  grid-area: D4; 
  justify-self: center;
}