.container { 
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .5fr .5fr .5fr .75fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 30px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "HERO HERO HERO HERO"
    "HERO HERO HERO HERO"
    "ABOUT ABOUT ABOUT ABOUT"
    "ABOUT ABOUT ABOUT ABOUT"
    "P1 P2 P3 P4"
    "D1 D2 D3 D4";
}

.HERO { 
  grid-area: HERO; 
  overflow: hidden;
}

.HERO > img {
  place-self: stretch stretch;
  min-width: 100%;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 0;
  border-bottom: 5px solid rgb(35, 35, 35);
}

.ABOUT { 
  grid-area: ABOUT; 
  text-align: center;
  align-items: center;
  font-size: 2vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

.ABOUT > h1{
  font-size: 5vw;
}

.ABOUT > p {
  padding: 0;
}

.P1 { 
  grid-area: P1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-size: 1.75vw;
  background: #ffffff;
  box-shadow: 7px 7px #2775B9;
  border: .25vw solid black;
}

.P1 > h2{
  align-self: start;
  font-size: 2.5vw;
  font-weight: 600;
  border-bottom: .2vw solid black;
  padding: 0;
  background: white;
  margin-left: 1vw;
}

.P1 > p{
  align-self: start;
  text-align: left;
  margin-left: 1vw;
  padding: 5px 0 0 0;
}

.P1 > img {
  max-width: 100%;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 0;
  border-bottom: .25vw solid black;
}

.P2 { 
  grid-area: P2; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-size: 1.75vw;
  background: #ffffff;
  box-shadow: 7px 7px #2775B9;
  border: .25vw solid black;
}

.P2 > h2{
  align-self: start;
  font-size: 2.5vw;
  font-weight: 600;
  border-bottom: .2vw solid black;
  padding: 0;
  background: white;
  margin-left: 1vw;
}

.P2 > p{
  align-self: start;
  text-align: left;
  margin-left: 1vw;
  padding: 5px 0 0 0;
}

.P2 > img {
  max-width: 100%;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 0;
  border-bottom: .25vw solid black;
}

.P3 { 
  grid-area: P3; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-size: 1.75vw;
  background: #ffffff;
  box-shadow: 7px 7px #2775B9;
  border: .25vw solid black;
}

.P3 > h2{
  align-self: start;
  font-size: 2.5vw;
  font-weight: 600;
  border-bottom: .2vw solid black;
  padding: 0;
  background: white;
  margin-left: 1vw;
}

.P3 > p{
  align-self: start;
  text-align: left;
  margin-left: 1vw;
  padding: 5px 0 0 0;
}

.P3 > img {
  max-width: 100%;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 0;
  border-bottom: .25vw solid black;
}

.P4 { 
  grid-area: P4; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-size: 1.75vw;
  background: #ffffff;
  box-shadow: 7px 7px #2775B9;
  border: .25vw solid black;
}

.P4 > h2{
  align-self: start;
  font-size: 2.5vw;
  font-weight: 600;
  border-bottom: .2vw solid black;
  padding: 0;
  background: white;
  margin-left: 1vw;
}

.P4 > p{
  align-self: start;
  text-align: left;
  margin-left: 1vw;
  padding: 5px 0 0 0;
}

.P4 > img {
  max-width: 100%;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 0;
  border-bottom: .25vw solid black;
}

.D1 { 
  grid-area: D1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-size: 1.75vw;
  background: #ffffff;
  box-shadow: 7px 7px #2775B9;
  border: .25vw solid black;
}

.D1 > h2{
  align-self: start;
  font-size: 2.5vw;
  font-weight: 600;
  border-bottom: .2vw solid black;
  padding: 0;
  background: white;
  margin-left: 1vw;
}

.D1 > p{
  align-self: start;
  text-align: left;
  margin-left: 1vw;
  padding: 5px 0 0 0;
}

.D1 > img {
  max-width: 100%;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 0;
  border-bottom: .25vw solid black;
}

.D2 { 
  grid-area: D2; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-size: 1.75vw;
  background: #ffffff;
  box-shadow: 7px 7px #2775B9;
  border: .25vw solid black;
}

.D2 > h2{
  align-self: start;
  font-size: 2.5vw;
  font-weight: 600;
  border-bottom: .2vw solid black;
  padding: 0;
  background: white;
  margin-left: 1vw;
}

.D2 > p{
  align-self: start;
  text-align: left;
  margin-left: 1vw;
  padding: 5px 0 0 0;
}

.D2 > img {
  max-width: 100%;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 0;
  border-bottom: .25vw solid black;
}

.D3 { 
  grid-area: D3; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-size: 1.75vw;
  background: #ffffff;
  box-shadow: 7px 7px #2775B9;
  border: .25vw solid black;
}

.D3 > h2{
  align-self: start;
  font-size: 2.5vw;
  font-weight: 600;
  border-bottom: .2vw solid black;
  padding: 0;
  background: white;
  margin-left: 1vw;
}

.D3 > p{
  align-self: start;
  text-align: left;
  margin-left: 1vw;
  padding: 5px 0 0 0;
}

.D3 > img {
  max-width: 100%;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 0;
  border-bottom: .25vw solid black;
}

.D4 { 
  grid-area: D4; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-size: 1.75vw;
  background: #ffffff;
  box-shadow: 7px 7px #2775B9;
  border: .25vw solid black;
}

.D4 > h2{
  align-self: start;
  font-size: 2.5vw;
  font-weight: 600;
  border-bottom: .2vw solid black;
  padding: 0;
  background: white;
  margin-left: 1vw;
}

.D4 > p{
  align-self: start;
  text-align: left;
  margin-left: 1vw;
  padding: 5px 0 0 0;
}

.D4 > img {
  max-width: 100%;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 0;
  border-bottom: .25vw solid black;
}