.newDogContainer {
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  /* padding: 28px 21px; */
  align-items: center;
  flex-direction: column;
}

.newDogForm {
  padding: 12px;
  display: flex;
  gap: 12px;
}

