nav {
  font-family: 'Nunito', sans-serif;
  top: 0; 
  z-index: 9;
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed; 
  align-items: center;
  background-color: whitesmoke;
  border-bottom: 3px solid #102233;
}
nav img {
  height: 60px;
}

nav ul {
  gap: 32px;
  margin: 0;
  width: 98%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

nav li {
  /* margin-left: 35px; */
  padding-left: 6px;
  text-align: right;
}
.navItem {
  font-weight: 900;
  align-items: flex-end;
}
.navAdmin {
  display: flex;
  gap: 12px
}


@media only screen and (max-width: 414px) {
  img {
    height: 32px;
    width: 32px;
    object-fit: contain;
  }
  nav {
    padding: 6px;
    max-width: 80%;
  }
  nav ul {
    max-width: 80%;
    padding: 2px;
    gap: 6px;
    margin: 0;
    justify-content: center;
  }
  nav li {
    margin: 0;
    font-size: 12px;
    padding: 4px;
    text-align: center;

  }
}
/* 
li a {
  color: black;
  font-weight: 600;
  text-decoration: none;
} */