.reportMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reportForm{
  justify-content: center;
  align-items: center;
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "duration duration duration"
    "boarding walk swim"
    "agility meals treat"
    "spec spec spec"
    ". sub .";
  border-radius: 12px;
  border: .3vw solid black;
  box-shadow: 7px 7px #2775B9;
}

.duration { 
  grid-area: duration; 
  justify-self: center;
  align-self: center;
  margin-bottom: 1vw;
}

.boarding { 
  grid-area: boarding; 
  justify-self: center;
  align-self: center;
  margin-top: 1vw;
}

.walk { grid-area: walk; 
  justify-self: center;
  align-self: center;
  margin-top: 1vw;
}

.swim { grid-area: swim; 
  justify-self: center;
  align-self: center;
  margin-top: 1vw;
}

.agility { grid-area: agility; 
  justify-self: center;
  align-self: center;
  margin-top: 1vw;
}

.meals { grid-area: meals; 
  justify-self: center;
  align-self: center;
  margin-top: 1vw;
}

.treat { 
  grid-area: treat; 
  justify-self: center;
  align-self: center;
  margin-top: 1vw;
}

.spec { 
  grid-area: spec; 
  justify-self: center;
  align-self: center;
  margin-top: 1vw;
}

.sub{
  grid-area: sub;
  place-self: center center;
}