main > section{
  max-width: 1fr;
  background-color: rgba(55, 55, 55, 0.233);
}
.dogList {
  display: flex;
  min-width: 60%;
  max-width: fit-content;
  flex-direction: column;
}

a {
  color: whitesmoke;
  font-weight: 600;
  text-decoration: none;
}