.container {
  max-width: 90%;
  display: flex;
  flex-direction: column;
}
.dogDetailContainer {
  display: flex;
  flex-direction: row;
  margin: 6px;
  
}
.dogDetailContainer h1,h2,h3,h4,h5,p {
  padding: 0;
  padding-left: 6px;
  padding-top: 3px;
  margin: 0;
  font-weight: 600;
  color: black;
}
.dogDetailContainer h1 {
  font-weight: 800;
}
.dogDetailImg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid rgb(185, 185, 185);
  padding: 3px;
  border-radius: 12px;
  margin-right: 3px;
}
.dogDetailImg > img{
  min-width: 120px;
  min-height: 120px;
  max-height: 120px;
  /* padding: 2px; */
  margin-right: 3px;
  border-radius: 12px;
  z-index: 1;
  /* border: 1px solid rgb(185, 185, 185) ; */
}
.dogDetailContent {
  /* border: 1px dashed pink; */
  border: 1px solid rgb(185, 185, 185) ;
  background-color: whitesmoke;
  color: black;
  border-radius: 12px;
  flex-grow: 3;
  padding: 12px;
}
.reportsAndComments {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 6px;
  gap: 6px;
  font-weight: 600;
}
.reportsContainer {
  width: 50%;
  background-color: whitesmoke;
  border: 1px solid rgb(185, 185, 185) ;
  border-radius: 12px;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.commentsContainer {
  /* border: 1px dashed yellow; */
  background-color: whitesmoke;
  border: 1px solid rgb(185, 185, 185) ;
  border-radius: 12px;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.commentsContainer > form {
  justify-content: flex-start;
  margin: 0;
  margin-top: 6px;
  max-width: 80%;
  box-shadow: 2px 2px 2px gray;
  border: 1px solid rgb(185, 185, 185) ;
}
.commentsContainer > article {
  /* justify-content: flex-start; */
  color: black;
  margin: 0;
  width: 100%;
}
.commentsList {
  display: flex;
  flex-direction: column;
}
a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}
button {
  border-radius: 6px;
  padding: 3px;
  font-weight: 800;
  box-shadow: 2px 2px 2px gray;
  font-size: small;
}