.container {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  border: 1px dashed cyan;
}
.dogDetailContainer {
  display: flex;
  flex-direction: row;
}
.dogDetailContainer h1,h2,h3 {
  padding: 0;
  margin: 0;
}
.dogDetailImg > img{
  min-width: 120px;
  min-height: 120px;
  max-height: 120px;
  border: 1px dashed lime;
  padding: 2px;
  border-radius: 6px;
  z-index: 1;
}
.dogDetailContent {
  border: 1px dashed pink;
  flex-grow: 3;
  padding: 12px;
}
.commentsContainer {
  border: 1px dashed yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.commentsContainer > form {
  justify-content: flex-start;
  max-width: 50%;
  margin: 0;
}
.commentsContainer > article {
  /* justify-content: flex-start; */
  align-items:normal;
  margin: 0;
  min-width: 50%;
}
a {
  color: whitesmoke;
  font-weight: 600;
  text-decoration: none;
}